# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Datasets
data/raw/
data/processed/

# Saved models
models_saved/

# Experiments and results
experiments/
results/

# Python build files
*.egg-info/
dist/
build/